#footer {
    background: var(--color-white, #ffffff);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3px;
    position: fixed;
    bottom: 0;
    width: 390px;
    box-shadow: var(
      --border-top-box-shadow,
      inset 0px 1px 0px 0px rgba(238, 238, 238, 1)
    );

}

.footer-item{
    margin: auto;
    width: 100%;
    text-align:center;
    /*I added this to change th font feel free to remove*/
    font: var(--_10-px, 400 15px/140% "Arial-Regular", sans-serif);
    /* border: 3px solid green;
    padding: 10px; */
}

.footer-item:hover{
    color: #0077C8;
    /* background-color: #0077C8; */
}