
<html>
    <head>
        
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/card.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

<div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="title">Broken Pipes</div>
      </div>
      <div class="supporting-text">
        some description about the situation, should only display 2 or 3 lines max
        the rest is eliminated...
      </div>
      <div class="status-label">
        <div class="label-shape">
          <!-- <div class="badge"> -->
            <div class="status-label-content">
              <div class="status-dot-wrapper">
                <div class="status-dot"></div>
              </div>
              <div class="status-label-text">In Progress</div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="echo-div">
      <div class="label-shape">
        <!-- <div class=""> -->
          <div class="echo-button">
            <svg
              class="arrow-up"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9.5V2.5M6 2.5L2.5 6M6 2.5L9.5 6"
                stroke="#2E90FA"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
  
            <div class="echo-text">Echo</div>
          </div>
        </div>
        <div class="echo-text">5</div>
      </div>
      
    </div>
  </div>
</body>

</html> 