<html>
    <head>
        
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/my_requests_page.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div id="my-requests-label">
                My Requests
            </div>
            <button id="new-service-button">
                <span class="button-text">New Service Request</span><span><i class="fa fa-solid fa-plus button-text"></i></span>
            </button>
            <div id="footer">
                <span class="footer-item"><div class="fa fa-list-ul"></div><div>Request Bulletin</div></span>
                <span class="footer-item"><div class="fa fa-user-o" aria-hidden="true"></div><div>My Requests</div></span>
            </div>
        </div>
       
    </body>

</html>