<html>
    <head>
        
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/my_requests_page.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div id="my-requests-label">
                My Requests
            </div>
            <button id="new-service-button">
                <span class="button-text">New Service Request</span><span><i class="fa fa-solid fa-plus button-text"></i></span>
            </button>
            <div id="scrollable-container">
                <div class="card">
                    <div class="frame-4">
                      <div class="card-header">
                        <div class="title">Broken Pipes</div>
                      </div>
                      <div class="supporting-text">
                        some description about the situation, should only display 2 or 3 lines max
                        the rest is eliminated...
                      </div>
                      <div class="frame-5">
                        <div class="badge">
                          <div class="badge">
                            <div class="badge-base">
                              <div class="dot">
                                <div class="dot2"></div>
                              </div>
                              <div class="text">In Progress</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-3">
                      <div class="badge">
                        <div class="badge">
                          <div class="badge-base2">
                            <svg
                              class="arrow-up"
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M6 9.5V2.5M6 2.5L2.5 6M6 2.5L9.5 6"
                                stroke="#2E90FA"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                  
                            <div class="text2">Echo</div>
                          </div>
                        </div>
                      </div>
                      <div class="text2">5</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="frame-4">
                      <div class="card-header">
                        <div class="title">Broken Pipes</div>
                      </div>
                      <div class="supporting-text">
                        some description about the situation, should only display 2 or 3 lines max
                        the rest is eliminated...
                      </div>
                      <div class="frame-5">
                        <div class="badge">
                          <div class="badge">
                            <div class="badge-base">
                              <div class="dot">
                                <div class="dot2"></div>
                              </div>
                              <div class="text">In Progress</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-3">
                      <div class="badge">
                        <div class="badge">
                          <div class="badge-base2">
                            <svg
                              class="arrow-up"
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M6 9.5V2.5M6 2.5L2.5 6M6 2.5L9.5 6"
                                stroke="#2E90FA"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                  
                            <div class="text2">Echo</div>
                          </div>
                        </div>
                      </div>
                      <div class="text2">5</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="frame-4">
                      <div class="card-header">
                        <div class="title">Broken Pipes</div>
                      </div>
                      <div class="supporting-text">
                        some description about the situation, should only display 2 or 3 lines max
                        the rest is eliminated...
                      </div>
                      <div class="frame-5">
                        <div class="badge">
                          <div class="badge">
                            <div class="badge-base">
                              <div class="dot">
                                <div class="dot2"></div>
                              </div>
                              <div class="text">In Progress</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-3">
                      <div class="badge">
                        <div class="badge">
                          <div class="badge-base2">
                            <svg
                              class="arrow-up"
                              width="12"
                              height="12"
                              viewBox="0 0 12 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M6 9.5V2.5M6 2.5L2.5 6M6 2.5L9.5 6"
                                stroke="#2E90FA"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                  
                            <div class="text2">Echo</div>
                          </div>
                        </div>
                      </div>
                      <div class="text2">5</div>
                    </div>
                  </div>
            <div id="footer">
                <span class="footer-item"><div class="fa fa-list-ul"></div><div>Request Bulletin</div></span>
                <span class="footer-item"><div class="fa fa-user-o" aria-hidden="true"></div><div>My Requests</div></span>
            </div>
        </div>
       
    </body>

</html>