.body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.container{
    width: 390px;
    height: 844px;
    background: #FCFCFD;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-left: 32px;
}
#title{
    color: #1D2939;
    font: var(--displayxs-bold, 700 35px/38px "Inter-Bold", sans-serif);
    width: 326px; 
    margin-top: 10px; 
    position: absolute; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 32px; 
    left: calc(50% - 163px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-box {
    width: 320px;
    margin-top: 13px;
    margin-left: 15px;
    height: 70px;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 6px; 
    display: flex;
    align-self: stretch; 
    /* height: 70px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 6px; 
    display: flex */
}
#additional {
    margin-top: -18px;
}
#uni {
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font: var(--shadow-xs-box-shadow, 500 14px/28px "Inter-SemiBold", sans-serif);
}
#location {
    font: var(--shadow-xs-box-shadow, 600 18px/28px "Inter-SemiBold", sans-serif);
    width: 326px; 
    color: #1D2939; 
    word-wrap: break-word;
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: -5px;
}
#issue {
    font: var(--shadow-xs-box-shadow, 600 18px/28px "Inter-SemiBold", sans-serif);
    width: 326px; 
    color: #1D2939; 
    word-wrap: break-word;
    margin-left: 15px;
    margin-top: 45px;
    margin-bottom: -5px;
}
#example-uni {
    width: 292px; 
    color: #667085; 
    font-size: 16px; 
    font: var(--shadow-xs-box-shadow, 400 14px/28px "Inter-SemiBold", sans-serif);
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word
}
button {
    width: 136px; 
    height: 36px; 
    border-radius: 8px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;

    padding-left: 14px; 
    padding-right: 14px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: #0077C8; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #0077C8 solid; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex;

    /* margin-left: 110px; 
    margin-top: 70px; */

    color: white;
    /* font-size: 14px; */
    line-height: 20px;
    font: var(--shadow-xs-box-shadow, 500 14px/20px "Inter-SemiBold", sans-serif);

}
#submit {
    margin-left: 110px; 
    margin-top: 70px;
}
button:hover{
    background: #1d4f91;
    border: 1px #1d4f91 solid; 
}
input {
    width: 320px;
    height: 44px;
    align-self: stretch; 
    padding-left: 14px; 
    padding-right: 14px; 
    padding-top: 10px;
    padding-bottom: 10px; 
    background: white; 
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px #D0D5DD solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex
}

select {
    width: 320px;
    height: 44px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px #D0D5DD solid;
    flex: 1 1 0; 
    height: 44px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 14px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
option[value=""][disabled] {
    display: none;
}  
select:required:invalid {
    color: #667085;
    flex: 1 1 0;
    font: var(--shadow-xs-box-shadow, 400 14px/24px "Inter-SemiBold", sans-serif);
    /* padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer; */
}
.select-items {
    color: #667085;
    flex: 1 1 0;
    font: var(--shadow-xs-box-shadow, 400 16px/24px "Inter-SemiBold", sans-serif);
    /* padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer; */
}


#nav-bar {
    background: white;
    /* background: blue; */
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding-top: 3px;
    position: fixed;
    bottom: 0;
    width: 390px;
    height: 48px;
    box-shadow: 0px 1px 0px #EEEEEE inset;
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;

   
    /* position: relative; */
    overflow: hidden;
    margin: auto;
    padding-left: 32px;
    margin-left: -32px;
    /* left: center; */
    /* box-shadow: var(
      --border-top-box-shadow,
      inset 0px 1px 0px 0px rgba(238, 238, 238, 1)
    ); */

    /* flex: 1 1 0; 
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    flex-direction: column; 
    gap: 2px; */
}

.item{
    /* margin: auto; */
    width: 390px;
    text-align: center;
    /* font: var(--_10-px, 400 14px/140% "Arial-Regular", sans-serif); */
    font: var(--shadow-xs-box-shadow, 400 14px/24px "Inter-SemiBold", sans-serif);
    /* border: 3px solid green;
    padding: 10px; */
    /* flex: 1 1 0;  */
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    flex-direction: column; 
    gap: 2px;
    justify-content: flex-start; 
    align-items: center;
    display: inline-flex;
}

#icon {
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    width: 24px; 
    height: 24px; 
    /* position: relative */
}

#nav-label:hover{
    color: #0077C8;
    /* background-color: #0077C8; */
}

#nav-label {
    align-self: stretch; 
    /* text-align: center;  */
    color: #999999; 
    font-size: 10px; 
    font-family: Arial; 
    font-weight: 400; 
    line-height: 14px; 
    word-wrap: break-word;
    /* font: var(--_10-px, 400 14px/140% "Arial-Regular", sans-serif); */
    font: var(--shadow-xs-box-shadow, 400 14px/24px "Inter-SemiBold", sans-serif);
}
h {
    font: var(--shadow-xs-box-shadow, 400 13px/24px "Inter-SemiBold", sans-serif);
}

#back {
    width: 62px; 
    height: 20px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;

    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex;
    color: #003087; 
    margin-top: 51px;
}

#back-label {
    width: 40px; 
    height: 20px; 
    position: relative;
    color: #003087; 
    /* font-size: 14px; 
    font-family: Inter; 
    font-weight: 600; 
    line-height: 20px;  */
    word-wrap: break-word;
    font: var(--displayxs-bold, 500 14px/20px "Inter-Bold", sans-serif);
}
#arrow {
    color: #003087; 
}
.fa-chevron-left {
    font-size: 14px;
}
.popup {
    width: 200px;
    background: #B9D9EB;
    border-radius: 6px;
    position: absolute;
    /* top: 0; */
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    padding: 0 30px 30px;
    text-align: center;
    color: #1D2939;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
#ok {
    margin-left: 32px;
}
h2 {
    font: var(--displayxs-bold, 600 18px/28px "Inter-Bold", sans-serif);
}
p {
    font: var(--displayxs-bold, 500 14px/20px "Inter-Bold", sans-serif);
}