.body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.container{
    width: 390px;
    height: 844px;
    background-color: var(--white, #ffffff);
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-left: 32px;
}
#change-hall-div{
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: fixed;
    margin-top:56px;
    margin-left: 32px;
    color: var(--gray-700, #344054);
    /* text-align: left; */
    font: var(--textsm-semibold, 600 14px/20px "Inter-SemiBold", sans-serif);
    position: relative;

}

#request-bulletin-label{
    color: var(--black, #000000);
    text-align: left;
    /* margin-top: 96px; */
    font: var(--displayxs-bold, 700 24px/32px "Inter-Bold", sans-serif);
    position: relative;
    margin-left: 32px;
    top: 34px;
    width: 326px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sub-header{
    margin-top:40px;
    margin-left: 32px;
}
.dropdown-label{
  color: var(--gray-700, #344054);
    /* text-align: left; */
    font: var(--textsm-semibold, 400 14px/20px "Inter-SemiBold", sans-serif);
}
#new-service-button{
    background: #0077C8;
    border-radius: 8px;
    border-style: solid;
    border-color: #0077C8;
    border-width: 1px;
    padding: 8px 14px 8px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
    box-shadow: var(
      --shadow-xs-box-shadow,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05)
    );
    overflow: hidden;
    position: absolute;
    /* left: calc(50% - 58px); */
    top: 152px;
    left: auto; 
    right: 0;
    margin-right:32px;

}
#new-service-button:hover{
    background: #1d4f91;
}
.button-text{
    color: var(--white, #ffffff);
    text-align: left;
    font: var(--textsm-semibold, 600 14px/20px "Inter-SemiBold", sans-serif);
    position: relative;
}


#footer {
    background: var(--color-white, #ffffff);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3px;
    position: fixed;
    bottom: 0;
    width: 390px;
    box-shadow: var(
      --border-top-box-shadow,
      inset 0px 1px 0px 0px rgba(238, 238, 238, 1)
    );

}

.footer-item{
    margin: auto;
    width: 100%;
    text-align:center;
    font: var(--_10-px, 400 15px/140% "Arial-Regular", sans-serif);
    /* border: 3px solid green;
    padding: 10px; */
}

.footer-item:hover{
    color: #0077C8;
    /* background-color: #0077C8; */
}

.card,
.card * {
  box-sizing: border-box;
}

.card {
  margin-top: 20px;
  margin-left:18px;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 11px 12px 11px 12px;
  flex-shrink: 0;
  width: 345px;
  height: 212px;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 321px;
  position: absolute;
  left: 12px;
  top: 11px;
}
.card-header {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--text, #333333);
  text-align: left;
  font: var(--_15-px, 700 15px/140% "Arial-Bold", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.supporting-text {
  color: var(--gray-500, #667085);
  text-align: left;
  font: var(--textsm-regular, 400 14px/20px "Inter-Regular", sans-serif);
  position: relative;
  align-self: stretch;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.badge {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.badge-base {
  background: #f7efd7;
  border-radius: 16px;
  padding: 2px 8px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.dot {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: hidden;
}
.dot2 {
  background: var(--warning-500, #f79009);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.text {
  color: var(--warning-700, #b54708);
  text-align: center;
  font: var(--textxs-medium, 500 12px/18px "Inter-Medium", sans-serif);
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 12px;
  bottom: 9px;
}
.badge-base2 {
  background: #d4e6f4;
  border-radius: 16px;
  padding: 2px 8px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.arrow-up {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.text2 {
  color: var(--blue-700, #175cd3);
  text-align: center;
  font: var(--textxs-medium, 500 12px/18px "Inter-Medium", sans-serif);
  position: relative;
}
